.votes_up  {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #818385 transparent;
    cursor: pointer;
    margin: auto;
}


.votes_up:hover {
    border-color: transparent transparent #f48024 transparent;
}

.votes_down:hover {
    border-color: #f48024 transparent transparent  transparent;
}

.votes_count {
    margin: 8px 0;
    font-size: 20px;
    color: #6a737c;
    text-align: center;
}

.votes_down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #818385 transparent transparent transparent;
    cursor: pointer;
    margin: auto;
}


.content_body {
    font-size: 15px;
}

.comment_add {
    color: #07C;
    margin-top: 20px;
    cursor: pointer;
}

.post {
    margin-top: 40px;
}

.post_title {
    padding: 5px 0;
    border-bottom: 1px solid #e4e6e8;
    font-size: 24px;
}

.post-container {
    margin-top: 100px;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content::after {
    visibility: hidden;
    display: block;
    content: '.';
    height: 0;
    clear: both;
}


.content_votes {
    float: left;
    width: 10%;
}


.content_body {
    float: right;
    width: 90%;
}

.tags_item {
    display: inline-block;
    color: #39739d;
    background-color: #E1ECF4;
    border-color: transparent;
    padding: 4px;
    margin: 2px;
}

.author  {
    float: right;
}

.author > div {
    display: inline-block;
}

.author_name {
    color: #07C;
}

.author_publish-date {
    color: #9199a1;
}


.post_author {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post_author::after {
    visibility: hidden;
    display: block;
    content: '.';
    height: 0;
    clear: both;
}




.list_item {
    margin-top: 10px;
    border-top: 1px solid #e4e6e8;
}

.item_body {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.item_date {
    color: #9199a1;
}

.item_author-email {
    color: #07C;
}

.controls {
    margin-top: 70px;
}

.controls_create-post {
    position: relative;
}

.create-post {
    position: absolute;
    right: 0;
    padding: 4px 10px 5px;
    font-size: 14px;
    line-height: 1.3;
    color: #FFF;
    background: #9fa6ad;
    cursor: pointer;
}

.create-post:hover {
    background: #f48024;
}

.jsPopUpComment {
    width: 280px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

.jsPopUpComment textarea {
    display: block;
    margin-bottom: 10px;
}

.jsPopPost {
    width: 280px;
    height: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}